.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-gazpbsZHW0mf);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-j_jYqZyi4zcv);
  font-family: var(--token-cVuf1RqDXb8x);
  font-size: var(--token-wU0sqrKAlS0-);
  line-height: var(--token-a9dpqjv3Jh4U);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-uYKuU4qknRrA);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-cELpK-hHqWCi);
  outline-offset: 1px;
  outline-color: var(--token-gazpbsZHW0mf);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-rHPqbg9x1WSV);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-7DUdbrrMz_Jf);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-YXLsBFwgrzrB);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-7WTxDQrNsqw0);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token--npaTSmmluxW);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-KIhOafVAzG4N);
  font-size: var(--token--ZPNqxfwryB1);
  column-gap: var(--token-cELpK-hHqWCi);
  row-gap: 0px;
  border-radius: var(--token-erBpGlY3rcR1);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token--ZPNqxfwryB1);
  line-height: var(--token-KIhOafVAzG4N);
  column-gap: var(--token-erBpGlY3rcR1);
  row-gap: 0px;
  border-radius: var(--token-erBpGlY3rcR1);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-t9Vd-S3SrmLD);
  line-height: var(--token-eZ6VMjMmLEln);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-t9Vd-S3SrmLD);
  line-height: var(--token-eZ6VMjMmLEln);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-KZvPmKGMc5zG);
  border-radius: var(--token-uYKuU4qknRrA);
}
.softBackgroundcolor_neutral {
  background: var(--token-M4sbVT5VAg7t);
}
.softBackgroundcolor_muted {
  background: var(--token-oC1g5a0u0esU);
}
.softBackgroundcolor_success {
  background: var(--token-7I7Vsd9F7DRP);
}
.softBackgroundcolor_warning {
  background: var(--token-Ed4bBkO-cgiH);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-azGff-5CciXx);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-uYKuU4qknRrA);
  border: 0px solid var(--token-g9weblemH5Yy);
}
.bordercolor_neutral {
  border-color: var(--token-9jeTFKf1pUn8);
}
.bordercolor_muted {
  border-color: var(--token-66i6qFu6Grjj);
}
.bordercolor_success {
  border-color: var(--token--D3aZrkJTjTf);
}
.bordercolor_warning {
  border-color: var(--token-1eutAKyKUY_5);
}
.bordercolor_errorDestructive {
  border-color: var(--token-PB1wXCz4GJl4);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-uYKuU4qknRrA);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-tmURFhlm6IzS);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-D_wIg5adoTTO);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-od6CxExfIi01);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__jCaTj {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-uYKuU4qknRrA);
  min-width: 0;
  min-height: 0;
  padding: var(--token-uYKuU4qknRrA) var(--token-crGP-yiDfSY1);
}
.freeBoxsize_extraSmall__jCaTjUog4V {
  padding: var(--token-erBpGlY3rcR1) var(--token-uYKuU4qknRrA);
}
.freeBoxsize_small__jCaTjIxnVe {
  padding: var(--token-uYKuU4qknRrA) var(--token-j_jYqZyi4zcv);
}
.freeBoxsize_large__jCaTjotcLe {
  padding-top: var(--token-erBpGlY3rcR1);
  padding-bottom: var(--token-erBpGlY3rcR1);
}
.freeBoxsize_extraLarge__jCaTjx0Klr {
  padding-left: var(--token-8yWD5hM6BXET);
  padding-right: var(--token-8yWD5hM6BXET);
}
.freeBoxroundedFull__jCaTj2OcPy {
  padding-right: var(--token-8yWD5hM6BXET);
  padding-left: var(--token-8yWD5hM6BXET);
}
.freeBox__lPmP {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__lPmPfZu09 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-aHLV7BBwPpYb);
}
.slotTargetStartcolor_neutral {
  color: var(--token-P9rRfTSbT370);
}
.slotTargetStartcolor_muted {
  color: var(--token-2JHG0Xg6zY4L);
}
.slotTargetStartcolor_success {
  color: var(--token-ELgjZsLNjBEp);
}
.slotTargetStartcolor_warning {
  color: var(--token-UEV8gX6Iw16e);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-JnPqg_berJnf);
}
.slotTargetStarttype_soft {
  color: var(--token-toDqoWXL_Ydw);
}
.slotTargetStarttype_bordered {
  color: var(--token-toDqoWXL_Ydw);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token--ZPNqxfwryB1);
}
.slotTargetStartsize_small {
  font-size: var(--token--ZPNqxfwryB1);
}
.slotTargetStartsize_large {
  font-size: var(--token-t9Vd-S3SrmLD);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-t9Vd-S3SrmLD);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-ey8gGpku77B7);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-ey8gGpku77B7);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-oVhn8CVnxXB7);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-oVhn8CVnxXB7);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-FL-nvhcP4UGi);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-FL-nvhcP4UGi);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-VZ6n_KxEEVDD);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-VZ6n_KxEEVDD);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-f7DRJM3042lZ);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-f7DRJM3042lZ);
}
.svg__o74Yr {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-aHLV7BBwPpYb);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-P9rRfTSbT370);
}
.slotTargetLabelcolor_muted {
  color: var(--token-2JHG0Xg6zY4L);
}
.slotTargetLabelcolor_success {
  color: var(--token-ELgjZsLNjBEp);
}
.slotTargetLabelcolor_warning {
  color: var(--token-UEV8gX6Iw16e);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-JnPqg_berJnf);
}
.slotTargetLabeltype_soft {
  color: var(--token-toDqoWXL_Ydw);
}
.slotTargetLabeltype_bordered {
  color: var(--token-toDqoWXL_Ydw);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-ey8gGpku77B7);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-oVhn8CVnxXB7);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-ey8gGpku77B7);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-FL-nvhcP4UGi);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-oVhn8CVnxXB7);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-VZ6n_KxEEVDD);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-FL-nvhcP4UGi);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-f7DRJM3042lZ);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-VZ6n_KxEEVDD);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-f7DRJM3042lZ);
}
.text__yjbz {
  white-space: pre;
}
.freeBox__uenRb {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__uenRbdar5G {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-aHLV7BBwPpYb);
}
.slotTargetEndcolor_neutral {
  color: var(--token-P9rRfTSbT370);
}
.slotTargetEndcolor_muted {
  color: var(--token-2JHG0Xg6zY4L);
}
.slotTargetEndcolor_success {
  color: var(--token-ELgjZsLNjBEp);
}
.slotTargetEndcolor_warning {
  color: var(--token-UEV8gX6Iw16e);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-JnPqg_berJnf);
}
.slotTargetEndtype_soft {
  color: var(--token-toDqoWXL_Ydw);
}
.slotTargetEndtype_bordered {
  color: var(--token-toDqoWXL_Ydw);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token--ZPNqxfwryB1);
}
.slotTargetEndsize_small {
  font-size: var(--token--ZPNqxfwryB1);
}
.slotTargetEndsize_large {
  font-size: var(--token-t9Vd-S3SrmLD);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-t9Vd-S3SrmLD);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-ey8gGpku77B7);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-ey8gGpku77B7);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-oVhn8CVnxXB7);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-oVhn8CVnxXB7);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-FL-nvhcP4UGi);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-FL-nvhcP4UGi);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-VZ6n_KxEEVDD);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-VZ6n_KxEEVDD);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-f7DRJM3042lZ);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-f7DRJM3042lZ);
}
.svg__nYb6Y {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
